.add-topic-page {
    padding: 10px 20px;
    .topic--add__body {
        width: 70%;
        margin: auto;
        padding: 15px 30px; 
        margin-top: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 8px;
    }
}