.ant-table-wrapper {
    .ant-table-thead {
        tr{
            th{
                font-weight: 500 !important;
                border-bottom: none !important;
                background-color: #ffd7a9;
                color: var(--mainColor) !important;
                padding: 11px 11px !important
            }

            th::before{
                background-color: transparent !important
            }
        }
    }
}
.ant-table-tbody {
    tr{
        :hover{
            cursor: pointer;
        }

        td{
            color: #444444 !important;
            padding: 16px 12px !important
        }
        
        td.ant-table-cell-row-hover{
            border-radius: 0 0 0 0 !important;
            background: #fde9e0 !important;
        }
        td:nth-child(1) {
            text-align: center;
        }

        td.ant-table-cell {
            .center-list__table--button__view, 
            .center-list__table--button__delete, 
            .request-list__table--button__report,
            .request-list__table--button__report--accepted,
            .request-list__table--button__report--waiting
            {
                border: none;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            }

            .center-list__table--button__view {
                transition: 0.6s;
                .anticon-eye {
                    color: #2FC7EB
                }
            }
            .center-list__table--button__view:hover {
                background-color: #2FC7EB;
                .anticon-eye {
                    color: #fff
                }
            }
            .center-list__table--button__delete {
                transition: 0.6s;
                .anticon-delete {
                    color: var(--strongPink)
                }
            }
            .center-list__table--button__delete:hover {
                background-color: var(--strongPink);
                .anticon-delete {
                    color: #fff
                }
            }
            .request-list__table--button__report {
                transition: 0.6s;
                svg {
                    color: #ff9c00;
                    font-size: 18px
                }
            }
            .request-list__table--button__report:hover {
                background-color: #FFC347;
                svg {
                    color: #fff
                }
            }
            .request-list__table--button__report--waiting {
                transition: 0.6s;
                svg {
                    color: var(--mainColor);
                    font-size: 18px
                }
            }
            .request-list__table--button__report--waiting:hover {
                background-color: #EB512F;
                svg {
                    color: #fff
                }
            }
            .request-list__table--button__report--accepted {
                transition: 0.6s;
                svg {
                    color: #3F9E46;
                    font-size: 19px
                }
            }
            .request-list__table--button__report--accepted:hover {
                background-color: #3F9E46;
                svg {
                    color: #fff
                }
            }
        }
    }
}

table {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
    border-radius: 8px;
}

.ant-tooltip {
    .ant-tooltip-content{
        .ant-tooltip-arrow{
            --antd-arrow-background-color: var(--mainColor);
        }
        .ant-tooltip-inner{
            background-color: var(--mainColor);
        }
    }
}