.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
    border: none !important;
    border-radius: 50% !important;
    height: 122px;
    width: 122px;
    margin-inline-start: 20%;
}

.profile__left--avatar{
    border: 1px dashed #ff9a35;
    background: #ffe284 !important;
}
