

.profile--container{

    .avatar{
        margin-top: 10px;
    }

    .center--information{
        .input--text{
            background-image:url('./Frame.svg')!important;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .ant-btn-primary {
            color: #fff;
            background-color: var(--mainColor);
            box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
        }

        .ant-btn-primary:hover {
                // background-color: #f85f9a !important;
                background-color: #ff894a !important;
        }
        .anticon, .anticon-close-circle {
            color: var(--mainColor)
        }
        .ant-form-item-required {
            font-weight: 500;
            // color: #fc4d60;
            color : var(--mainColor);
            font-size: 15px !important;
        }
    }
}